body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}
pre {
    text-align: left;
}
.semantic-messages {
    padding: 15px;
}
.table>tbody>tr>td {
    vertical-align: middle;
}
.semantic-form {
    padding-bottom: 15px; 
}
